/*------------------------------------*\
    LAYOUT/PAGE.SCSS
\*------------------------------------*/

.wrapper {
    width: 100%;
}

.page-constrained {
    margin: 0 auto;    
    padding: $gutter-std;
    max-width: $site-max-width;
    @include breakpoint(mob){
        padding: $gutter-mob;
    }
}

