/*------------------------------------*\
    BASE/VARS.SCSS
\*------------------------------------*/


/**
 * Colour Variables
 */
$black: #111;
$white: #eee;
$silver: #DDD;
$navy: #001F3F;
$sky-blue: #b4eff2;
$red: #FF4136;
$purple: #4C252D;

/**
 * Size Variables
 */
$base-unit: 16px;
$site-max-width: 1025px;

/**
 * Font Variables
 */
$font-size: $base-unit;
$font-size--tab: 0.9;
$font-size--mob: 0.5;

/**
 * Spacing Variables
 */
$gutter-std: $base-unit*1.25;
$gutter-mob: $gutter-std*0.5;
