/*------------------------------------*\
    BASE/VARS.SCSS
\*------------------------------------*/


/**
 * Colour Variables
 */
$black: #111;
$white: white;
$silver: #DDD;

/**
 * Size Variables
 */
$base-unit: 16px;
$site-max-width: 1025px;

/**
 * Font Variables
 */
$font-size: $base-unit;
$font-size--tab: 0.9;
$font-size--mob: 0.5;

/**
 * Spacing Variables
 */
$gutter-std: $base-unit*1.25;
$gutter-mob: $gutter-std*0.5;
