/*------------------------------------*\
    MODULE/TITLE.SCSS
\*------------------------------------*/


.title--the {
    @include font-sizing(1.8*$font-size);
    @include breakpoint(mob){
        display: block;
        margin-bottom: -0.4*$base-unit;
    }
}

.title--summer {
    @include font-sizing(3.3*$font-size);
    line-height: 0.6em;
}

.title--masquerade {
    @include font-sizing(5*$font-size);
    line-height: 0.6em;
}

.title--ball {
    @include font-sizing(1*$font-size);
    line-height: 2em;
}

.title--date {
    @include font-sizing(6*$font-size);
    line-height: 2em;
}
    
